/* Reset */

* {
    padding: 0;
    margin: 0;
  }
  
  article,aside,details,figcaption,figure,
  footer,header,hgroup,menu,nav,section { 
      display:block;
  }
  
  ul {
    list-style: none;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  img {
      width: 100%;
  }

  /* Main */

  body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
    color: #2b2c2d;
    line-height: 20px;
    background: #e8ecef;
    letter-spacing: -0.3px;
    font-size: 11px;
}

.wrap {
	max-width: 1320px;
    margin: 0 auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 20px 10px;
}

.nav-main li {
    display: inline-block;
}

.content {
    background: #fff;
    padding: 20px;
}

th {
    text-align: left;
}
