* {
  padding: 0;
  margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
	width: 100%;
}


/* 

Main

 */

html {
	font-size: 18px;
}

body {


  font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    background: #fff;
    letter-spacing: -0.3px;
}

.top-bar {
	height: 50px;
}

.main {

}

.wrap {
	max-width: 1320px;
    margin: 0 auto;
}





/* 

Modules

 */

.main-layout {
  display: flex;
}


.col-1,
.col-2,
.col-3 {
  padding: 10px;
}

.col-1 {
  flex-basis: 30%;
}

.col-2 {
  flex-basis: 50%;
}

.col-3 {
  flex-basis: 20%;
}

.feature {
  padding-bottom: 20px;
}

.item {
  display: flex;
  padding-bottom: 10px;
}

.top {
  padding-bottom: 15px;
}

.item .thumb {
  flex-basis: 40%;
}

.item .info {
  flex-basis: 60%;
  padding-left: 10px;
}

.box-test {
  width: 200px;
  height: 200px;
  background-color: darkgray;
}


  /* 

Others

 */



 .h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -.5px;
 }

 .h3 {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -.5px;
 }