* {
  padding: 0;
  margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

/* 

Icomoon

 */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: "\e9d9";
}


/* 

Main

 */

html {
	font-size: 18px;
}

body {


  font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000;
    font-size: 16px;
    line-height: 22px;
    background: #fff;
    letter-spacing: -0.3px;
}

.top-bar {
	height: 50px;
}

.main {

}

.wrap {
	max-width: 1320px;
    margin: 0 auto;
}





/* 

Modules

 */

.main-layout {
  display: flex;
}


.col-1,
.col-2,
.col-3 {
  padding: 15px;
}

.col-1 {
  flex-basis: 30%;
}

.col-2 {
  flex-basis: 50%;
}

.col-3 {
  flex-basis: 20%;
}

.featured-movie {
  padding-bottom: 30px;
}

.movie {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.relevant-movie {
  padding-bottom: 25px;
}

.movie .thumb {
  flex-basis: 30%;
}

.movie .info {
  flex-basis: 70%;
  padding-left: 20px;
}

.box-test {
  width: 200px;
  height: 200px;
  background-color: darkgray;
}

.stars {
  display: inline-block;
  font-size: 13px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.featured-movie .stars > span {
  font-size: 15px;
  margin-right: 5px;
}

.relevant-movie .stars > span {
  font-size: 14px;
  margin-right: 4px;
}

.stars > span {
  margin-right: 2px;
}

.star-5-color { color: #00ecb8; }
.star-4-color { color: #6df100; }
.star-4-nocolor { color: #def9c9; }
.star-3-color { color: #ffbe00; }
.star-3-nocolor { color: #f9f1db; }
.star-2-color { color: #ff5400; }
.star-2-nocolor { color: #ffe2d4; }
.star-1-color { color: #ff0045; }
.star-1-nocolor { color: #fde3ea; }


  /* 

Others

 */



 .h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 54px;
  letter-spacing: -1px;
  padding: 10px 0 6px;
 }

 .h3 {
  font-size: 30px;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: -.5px;
  padding: 10px 0 6px;
 }

 .h4 {
  font-size: 22px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: -.3px;
  padding-bottom: 6px;
 }


 .thumb {
   position: relative;
 }

 .thumb .darker {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: radial-gradient( circle at bottom right, #0000008c, #00000000 );
 }

 .info p {
   padding-bottom: 4px;
 }

 .task {
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 600;
  line-height: 25px;
 }

 .task span {
  background: #000;
  color: #fff;
  padding: 0 8px;
  display: inline-block;
 }

 .task time {
    /* background: yellow; */
    padding: 0 8px;
    display: inline-block;
 }

.meta {
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 4px;
}
